{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <main id="mainAccueil">
        <h1>Tournois de Caillasse, Chiffon, Dague !</h1>
        <div id="regles">
            <h2>Règles :</h2>
            <ul>
                <li><p><strong>Caillasse</strong> : Une grosse roche que les gobelins adorent lancer sur leurs ennemis.</p></li>
                <li><p><strong>Chiffon</strong> : Un vieux bout de tissu crasseux que les gobelins utilisent pour s'essuyer... parfois.</p></li>
                <li><p><strong>Dague</strong> : Une petite lame rouillée, idéale pour trancher et chaparder.</p></li>
                <li><p>Caillasse écrase Dague (un bon jet bien placé et hop, la dague est hors service).Dague découpe Chiffon (logique, une lame ça coupe du tissu). Chiffon enveloppe la Caillasse (un gobelin malin peut cacher une pierre dans un chiffon pour l'emporter discrètement).</p></li>
            </ul>
        </div>
    </main>
{% endblock %}
