{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block main %}
    <main id="mainHistorique">
        <h1>Historique des tournois :</h1>
        
    </main>
{% endblock %}
