@use "./../abstract/variable" as var;
@use "./../abstract/mixin.scss" as m; 


// PAGE ACCUEUIL /////////////////////////////////////////////////////////////////////////////////////////////////////
#mainAccueil{
    background-color: #D6BBA0;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    h1{
        text-align: center;
        padding: 32px;
        text-transform: uppercase;
        font-weight: bold;
    }
    #regles{
        padding: 0px 32px;
        h2{
            text-transform: uppercase;
        }
        ul{
            li{
                padding: 2px 16px;
                strong{
                    letter-spacing: 0.5px;
                }
            }
        }
        p{
            padding: 8px 16px; 
        }
    }
}


// PAGE TOURNOIS /////////////////////////////////////////////////////////////////////////////////////////////////////
#mainTournois{
    background-color: #D6BBA0;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    article{
        margin:1rem 0;
        // @include m.flex;
        width: 75vw;
        height: 200px;
        
    
        >div{
            @include m.flex(row,space-around);
            width: 100%;
            height: 100%;
            
    
            .main_article{
                width: 75%;
            }
    
            img{
                width: 25%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        .btn_bloc{
            @include m.flex(row,margin-left);
    
            a,button{
                margin-right:1rem;
                
            }
        }
    }
    background-color: var.$background-color;
    height: 80vh;
}

// PAGE LOGIN /////////////////////////////////////////////////////////////////////////////////////////////////////
#mainLogin{
    background-color: #D6BBA0;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    h1{
        padding-top: 96px;
        text-align: center;
        font-size: 72px;
        padding-bottom: 32px;
    }
    form{
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        label{
            font-size: 20px;
            padding: 8px 128px;
            text-align: center;
        }
        input{
            text-align: center;
            padding: 4px 16px;
            margin: 0px 128px;
            border-radius: 4px;
            border: solid 2px black;
            font-family: Alice;
            font-size: 18px;
        }
        button{
            font-size: 20px;
            font-family: Medieval;
            cursor: pointer;
            width: 50%;
            margin: auto;
            margin-top: 32px;
            padding: 8px 16px;
            border-radius: 4px;
            border: solid 2px black;
            color: var.$primary-color;
            font-weight: bold;
            letter-spacing: 1px;
            transition: 0.2s;
            &:hover{
                background-color: var.$primary-color;
                color: white;
            }
        }
    }
    >p{
        color: black;
        text-align: center;
        margin-top: 32px;
        display: block;
    }
    >a{
        display: block;
        margin-top: 8px;
        text-align: center;
        width: 200px;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: 0.2s;
        text-decoration: underline;
        &:hover{
            color: var.$secondary-color;
        }
    }
}

// PAGE REGISTER /////////////////////////////////////////////////////////////////////////////////////////////////////
#mainRegister{
    background-color: #D6BBA0;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    h1{
        padding: 96px;
        text-align: center;
        font-size: 72px;
        padding-bottom: 32px;
    }
    form{
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            label{
                font-size: 20px;
                padding: 8px 128px;
                text-align: center;
            }
            input{
                text-align: center;
                padding: 4px 16px;
                margin: 0px 128px;
                border-radius: 4px;
                border: solid 2px black;
                font-family: Alice;
                font-size: 18px;
            }
        }
        button{
            font-size: 20px;
            font-family: Medieval;
            cursor: pointer;
            width: 50%;
            margin: auto;
            margin-top: 32px;
            padding: 8px 16px;
            border-radius: 4px;
            border: solid 2px black;
            color: var.$primary-color;
            font-weight: bold;
            letter-spacing: 1px;
            transition: 0.2s;
            &:hover{
                background-color: var.$primary-color;
                color: white;
            }
        }
    }
    >p{
        color: black;
        text-align: center;
        margin-top: 32px;
        display: block;
    }
    >a{
        display: block;
        margin-top: 8px;
        text-align: center;
        width: 200px;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: 0.2s;
        text-decoration: underline;
        &:hover{
            color: var.$secondary-color;
        }
    }
}